pip
cython
scipy
numpy
pandas
gpy==1.13.2
scikit-learn
opt_einsum
pillow
matplotlib
seaborn
jupyter
jupyterlab
jupytext
jupyter_client
openpyxl
visidata
sphinx
sphinx_rtd_theme
nbsphinx
numpydoc
coverage
pytest
pytest-xdist
black
isort
twine
pynvim
pandas-stubs
pyperclip
tomli
tomli-w
rsa
gitpython
pylatexenc
pydoe2
