attrs
av
bidict
black
cloudpathlib
fastapi
google-auth
google-cloud-datastore
google-cloud-secret-manager
google-cloud-storage
google-cloud-aiplatform
isort
itsdangerous
jupyter
jupyter-client
jupyterlab
jupytext
librosa
matplotlib
modal
opencv-python-headless
plotnine
polars
pydantic
pynvim
pytest
scikit-learn
scipy
streamlit
tensorflow[and-cuda]
tqdm
langchain
langchain-google-genai
langchain-openai
